$gris: #47525e;
$azul: #007ec1;
$naranja: #F0950E;
$letra:"Lato", sans-serif;

.container-administration-login {
    color: $gris;
    display: flex;
    font-family:$letra ;
    font-size: 20px;
    margin: 60px;
  }
  
  h1 {
    line-height: 1, 9em;
  }
  
  .container-paragraph {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-paragraph img {
    width: 13em;
  }
  
  .container-login {
    margin-left: 20%;
  }
  
  .container-login-buttonGoogle {
    width: 13em;
    height: 2.5em;
    background-color: $azul ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4em;
    float: right;  
    border-radius: 5px;
  }
  
  .container-login-buttonGoogle img {
    width: 2em;
    height: 2em;
    border: 1px solid white;
    background-color: white;
  }
  
  .container-login-buttonGoogle button {
    background-color: $azul;
    font-family: "Lato", sans-serif;
    color: white;
    border: none;
    font-size: 1em;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .container-login-buttonGoogle:hover {
    background-color: white;  
    opacity: 0.9;
  }
  
  
  
  .container-login-buttonGoogle button:hover {
    background-color:white;
    color: $azul;
    opacity: 0.9;
  }
  
  .container-login__image {
    height: 25em;
  }

.header-login-administration{
    width: 100%;
    height:78px;
    background-color: $naranja;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header-login img{
    width:17em;
    height: 16em;
}
  