.container-title-calendar-home{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    letter-spacing: 1.4px;

    & h2 {
        font-size: 30px;
    }

    & .container-select-title-calendar-home{
        width: 420px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        & select{
            background-color: rgb(255, 255, 255);
            padding: 7px;
            width: 65%;
            font-size: 15px;
            border: none;
            box-shadow: 1px 3px 5px rgb(255, 76, 22);
            border-radius: 6px;
            transition: .5s;
            outline: none;

            &:hover{
                background-color: rgb(240, 240, 240);
                box-shadow: 1px 3px 4px rgb(223, 129, 94);
                cursor: pointer;
            }
        }
    }
}

.container-content-calendar-home{
    padding: 40px;
    margin: 40px auto;
    width: 60%;
    text-align: center;
    font-size: 23px;

    & button{
        font-size: 16px;
        padding: 10px;
        margin-top: 60px;
        border: none;
        border-radius: 5px;
        background-color: #ff7e06;
        box-shadow: 1px 3px 4px rgb(104, 98, 98);
        transition: .5s;

        &:hover{
            background-color: #ff8b1e;
            box-shadow: 1px 3px 4px rgb(32, 31, 31);
            cursor: pointer;
        }
    }
}

.container-calendar-components-home{
    position: relative;
    height: 88vh;
    width: 100%;
    overflow: hidden;

    & img{
        width: 400px;
        height: 400px;
        position: absolute;
        transform: rotateZ(-15deg);
        right: -20px;
        bottom: -100px;
    }
}