@import '../Variables.scss';

section.okr {
	position: relative;
	width: 90%;
	background: #fff;
	border-radius: 9px;
	margin: auto;

	& .title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		margin: 60px 0;
		font-weight: 400;

		& h3 {
			margin-right: 7px;
		}

		& i {
			color: $orange-color;
			cursor: pointer;
		}
	}

	& .okr-item {
		box-shadow: 1px 2px 4px 5px rgba(0, 0, 0, 0.1);
		margin-bottom: 50px;
	}

	& .headerOKR {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px;

		& .titleOKR {
			display: flex;
			justify-content: center;
			align-items: center;

			& h3 {
				color: #154367;
				font-size: 30px;
				margin-right: 30px;
			}

			& .icons {
				font-size: 30px;
				cursor: pointer;
				color: $orange-color;

				& i {
					padding: 0 7px;
				}
			}
		}

		& span {
			font-size: 30px;
			cursor: pointer;
			color: $orange-color;
		}
	}

	& .contentOKR {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;
		flex-wrap: wrap;

		& .kr {
			width: 480px;
			height: 180px;
			border-radius: 5px;
			padding: 12px;
			margin-bottom: 30px;
			box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);

			& .headerKR {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 5px;
				background: $orange-color;
				border-radius: 5px;

				& h3 {
					align-self: start;
					font-size: 20px;
					margin-right: 30px;
					color: #ffff;
				}

				& .icons {
					font-size: 20px;
					cursor: pointer;
					color: #fff;

					& i {
						padding: 0 7px;
					}
				}
			}

			& progress[value] {
				appearance: none;
				border: none;
				width: 100%;
				height: 20px;
				background-color: whiteSmoke;
				border-radius: 3px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
				color: royalblue;
				position: relative;
				margin: 0 0 1.5em;
			}

			& progress[value]::-webkit-progress-bar {
				background-color: whiteSmoke;
				border-radius: 3px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
			}

			& progress[value]::-webkit-progress-value {
				position: relative;

				background-size: 35px 20px, 100% 100%, 100% 100%;
				border-radius: 3px;

				animation: animate-stripes 5s linear infinite;
			}

			& progress[value]::-webkit-progress-value:after {
				content: '';
				position: absolute;

				width: 5px;
				height: 5px;
				top: 7px;
				right: 7px;

				background-color: white;
				border-radius: 100%;
			}

			& progress[value]::-moz-progress-bar {
				background-image: -moz-linear-gradient(
						135deg,
						transparent,
						transparent 33%,
						rgba(0, 0, 0, 0.1) 33%,
						rgba(0, 0, 0, 0.1) 66%,
						transparent 66%
					),
					-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
					-moz-linear-gradient(left, #09c, #f44);

				background-size: 35px 20px, 100% 100%, 100% 100%;
				border-radius: 3px;
			}

			& .progress-bar {
				background-color: whiteSmoke;
				border-radius: 3px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
				width: 100%;
				height: 20px;

				& span {
					background-color: royalblue;
					border-radius: 3px;
					display: block;
					text-indent: -9999px;
				}
			}

			& p[data-value] {
				position: relative;
			}

			& p[data-value]:after {
				content: attr(data-value) '%';
				position: absolute;
				right: 0;
			}

			& progress::-webkit-progress-value {
				background: $orange-color;
			}

			& .update {
				position: relative;
				width: 100%;
				display: flex;
				justify-content: space-between;

				& input {
					width: 50%;
					outline: none;
				}

				& button {
					background: none;
					outline: none;
					border: none;
					background: $orange-color;
					padding: 10px;
					border-radius: 6px;
					color: #fff;
					width: 40%;
					font-size: 18px;
					cursor: pointer;
				}
			}
		}
	}
}

@keyframes animate-stripes {
	100% {
		background-position: -100px 0;
	}
}

section.containerOkrCreate {
	position: relative;
	width: 90%;
	height: 100%;
	margin-top: 460px;
	box-shadow: 1px 2px 4px 8px rgba(0, 0, 0, 0.1);
	margin: auto;
	padding: 30px;
	margin-top: 60px;
	margin-bottom: 60px;

	& .title {
		text-align: center;
		padding: 20px;
		font-size: 30px;
		font-weight: 400;
	}

	& .fieldOkrCreate {
		position: relative;
		width: 100%;
		padding: 40px;

		.row {
			width: 100%;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}

		& .col {
			& .fieldCol {
				width: 100%;
				display: flex;
				align-items: center;
				margin: 20px 0;

				& label {
					font-size: 23px;
					font-weight: 200;
					width: 30%;
				}

				& input,
				& textarea,
				& select {
					width: 100%;
					height: 40px;
					margin-left: 20px;
					outline: none;
					border: none;
					border: 2px solid rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					font-size: 18px;
					letter-spacing: 1px;
					transition: 0.1s ease-in-out;
					display: flex;
					justify-content: end;
					padding: 5px;

					&:focus {
						border: 1px solid $orange-color;
					}
				}

				& textarea {
					resize: none;
					height: 100px;
				}
			}

			& .fieldColRespomsable {
				& p {
					text-align: center;
					font-size: 23px;
				}

				& .fieldColRes {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin: 20px 0;

					& label {
						font-size: 23px;
						font-weight: 200;
						width: 30%;
					}

					& input {
						width: 100%;
						height: 40px;
						margin-left: 20px;
						outline: none;
						border: none;
						border: 2px solid rgba(0, 0, 0, 0.1);
						border-radius: 4px;
						font-size: 18px;
						letter-spacing: 1px;
						padding: 5px;
						transition: 0.5s ease-in-out;

						&:focus {
							border: 1px solid $orange-color;
						}
					}
				}
			}
		}
	}

	& .containerButtons {
		display: flex;
		justify-content: center;
		place-items: center;
		margin-top: 40px;

		& button {
			position: relative;
			height: 65px;
			width: 210px;
			margin: 0 40px;
			font-size: 23px;
			font-weight: 500;
			letter-spacing: 1px;
			border-radius: 5px;
			text-transform: uppercase;
			border: 1px solid transparent;
			outline: none;
			cursor: pointer;
			background: #fff;
			overflow: hidden;
			transition: 0.6s;
			color: $orange-color;
			border-color: $orange-color;

			&:before,
			&:after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				filter: blur(30px);
				opacity: 0.4;
				transition: 0.6s;
			}

			&:before {
				width: 60px;
				background: rgba(255, 255, 255, 0.6);
				transform: translateX(-130px) skewX(-45deg);
			}

			&:after {
				width: 30px;
				background: rgba(255, 255, 255, 0.6);
				transform: translateX(-130px) skewX(-45deg);
			}

			&:hover:before,
			&:hover:after {
				opacity: 0.6;
				transform: translateX(320px) skewX(-45deg);
			}

			&:hover {
				color: #f2f2f2;
				background: $orange-color;
			}
		}
	}
}
