.button{
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-left: 20%;
  
}

.Modal{
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}


.Modal header{
  background:#F0950E;
  color: #fff;
  width: 100%;
  height: 45px;
  text-align: justify;
  padding-top: 8px;
}

header strong{
  display: inline-block;
  width: 92%;
  text-align: center;

}

.button_cerrar{
  display: inline-block;
  background-color: transparent;
  color: black;
  border-color: black;
  border: 2px solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: auto; 
  
}

