.headerNotificationWindows{
    background-color: rgb(240, 149, 14);
    height: 20px;
    width: 100%;
}

.bodyNotificationWindows{
    padding: 20px;
    text-align: center;
}

.h1NotificationWindows{
    padding: 20px;
    transform: uppercase;
    font-size: 25
}

.pNotificationWindows{
    padding: 20px;
    font-size: 17
}

.imageNotificationWindows{
    padding: 20px;
    text-align: center;
}

.footerNotificationWindows{
    background-color: rgb(240, 149, 14);;
    height: 20px;
    width: 100%;
}




