.containerConfigNotification {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 40px;
}
.containerConfigNotification .titleNoti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #050531;
  font-size: 30px;
}
.containerConfigNotification .titleNoti h3 {
  margin-right: 20px;
}
.containerConfigNotification .titleNoti .icon i:hover {
  color: #ff7e06;
}
.containerConfigNotification .optionsNotifications {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 30px;
  background: #fff;
  border-radius: 9px;
  -webkit-box-shadow: 2px 2px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 8px rgba(0, 0, 0, 0.1);
}
.containerConfigNotification .optionsNotifications .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  width: 100%;
}
.containerConfigNotification .optionsNotifications .option-item span {
  color: #ff7e06;
  font-weight: 400;
  font-size: 30px;
}
.containerConfigNotification .optionsNotifications .option-item p {
  margin-left: 17px;
}
.containerConfigNotification .optionsNotifications .option-item .active-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .email {
  margin-right: 30px;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 23px;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch input:checked + .slider {
  background-color: #ff7e06;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #ff7e06;
          box-shadow: 0 0 1px #ff7e06;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  transform: translateX(14px);
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch .slider.round {
  border-radius: 34px;
}
.containerConfigNotification .optionsNotifications .option-item .active-options .switch .slider.round:before {
  border-radius: 50%;
}
.containerConfigNotification .optionsNotifications .option-item .active-options i {
  font-size: 30px;
}/*# sourceMappingURL=Notification.css.map */