.sidebar{
    background-color: #f6f6f6;
    width: 220px;
    height: 88vh;
    display: flex;
    position: absolute; 
    flex-direction: column;    
    top:75px; 
    border-top: 0;
    border-right: 1px solid rgb(223, 218, 218);
    
}

.container-button-sidebar{
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 4px;   
}

.button-sidebar{    
    background-color: #F0950E; 
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;  
    display: inline-block;
    font-size: 16px;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 0;
}

.button-sidebar:hover{
    cursor: pointer;
}

.sidebarLink{
  display: flex;
  color: #47525E;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 16px; 
}

.label-sidebar{
    margin-left: 16px;
}

.DropdownLink-sidebar{
 background: #F9FAFC;
  height: 45px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #47525E;
  font-size: 14px;
}

.DropdownLink-sidebar span{
    padding-left: 7px;
}